extends layout

block content
  h1= title
  p With Sequelize!

  h2 Create new user
  form(action="/users/create", method="post")
    input(type="text", name="username")
    input(type="submit")

  h2 Users

  table.task-list(width="100%")
    tbody
      each user in users
        tr
          td.user
            b.user-name= user.username
            a(href="/users/" + user.id + "/destroy") delete
        tr
          td.tasks
            form(action="/users/" + user.id + "/tasks/create", method="post", style="display: inline")
              input(type="text", name="title", placeholder="add new task")
              button(type="submit") add task
          each task in user.Tasks
            tr
              td
                span.task-title= '+ ' + task.title
                a(href="/users/" + user.id + "/tasks/" + task.id + "/destroy") delete


